body {
	background-color: rgb(255,255,255);
	color: rgb(59,67,68);
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: "Times New Roman", Times, serif;
    background-color: #3461b5;
	color: #ffffff;
	margin: 0;
}

.main-header {
    background-color: #3461b5;
	color: #ffffff;
	margin: 0;
}

.main-body {
	margin: 10;
}
